@let settings = settings$ | async;
@let weather = weatherData$ | async;
@let search = searchResults$ | async;

@if (settings) {
  <div>
    @if (weather) {
      <div
        class="background-container"
        [style.background-image]="'url(' + getBackgroundImage(weather.list[0].weather[0].main) + ')'">
      </div>

      <div class="dashboard-wrapper">
        <header>
          <button class="drawer-btn settings-btn" (click)="isSettingsOpen = true">⚙️</button>
          <button class="drawer-btn favorites-btn" (click)="isFavoritesOpen = true">⭐</button>
          <div class="search-container">
            <input
              class="search-box"
              placeholder="Найти город..."
              [(ngModel)]="searchQuery"
              (input)="onSearchInput()"
              (focus)="onSearchFocus()"
              (blur)="onSearchBlur()"
              autocomplete="on">

            <!-- Выпадающий список с результатами -->
            @if (search || searchHint) {
              <div class="search-results">
                @if (isSearchListVisible) {
                  <ul>
                    @if (searchHint) {
                      <li class="search-hint">{{ searchHint }}</li>
                    }
                    @if (search && search.length > 0) {
                      @for (city of search; track city) {
                        <li (click)="selectCity(city)">
                          {{ getDisplayName(city) }}
                          <button class="favorite-btn" (click)="addFavorite(city, $event)">★</button>
                        </li>
                      }
                    }

                  </ul>
                }
              </div>
            }

          </div>
        </header>

        @if (weather.list && weather.list.length > 0) {
          <main>
            <section class="current-weather-card">

              <h2>{{ weather.city.name }}, {{ weather.city.country }}</h2>
              <div class="main-info">
                <img [src]="'https://openweathermap.org/img/wn/' + weather.list[0].weather[0].icon + '@2x.png'"
                     [alt]="weather.list[0].weather[0].description">
                <div class="temperature-details">
                <span class="temperature"
                      [style.color]="getTempColor(weather.list[0].main.temp)">{{ weather.list[0].main.temp | temperature:settings.tempUnit | number:'1.0-0' }}
                  °{{ settings.tempUnit }}
                </span>
                <span class="feels-like">
                  Ощущается как {{ weather.list[0].main.feels_like | temperature:settings.tempUnit | number:'1.0-0' }}
                  °{{ settings.tempUnit }}
                </span>
                </div>
                <div class="min-max-container">
                  <span class="temp-max"
                        [style.color]="getTempColor(weather.list[0].main.temp_max)">☀️ {{ weather.list[0].main.temp_max | temperature:settings.tempUnit | number:'1.0-0' }}°{{ settings.tempUnit }}</span>
                  <span class="temp-min"
                        [style.color]="getTempColor(weather.list[0].main.temp_min)">🌑️ {{ weather.list[0].main.temp_min | temperature:settings.tempUnit | number:'1.0-0' }}°{{ settings.tempUnit }}</span>
                </div>
              </div>

              <p class="condition-text">{{ weather.list[0].weather[0].description }}</p>

              <div class="details">
                <div class="humidity-details element-details">
                  Влажность: {{ weather.list[0].main.humidity }}%
                </div>
                <div class="wind-details element-details">
                  Ветер:
                  {{ weather.list[0].wind.speed | wind:settings.windUnit | number:'1.0-1' }} {{ settings.windUnit === 'ms' ? 'м/с' : settings.windUnit === 'kmh' ? 'км/ч' : 'миль/ч' }}
                  <div class="wind-direction" [style.transform]="'rotate(' + weather.list[0].wind.deg + 'deg)'">↑</div>
                </div>
                <div class="pressure-details element-details">
              <span>
                Давление:
                {{ weather.list[0].main.pressure | pressure:settings.pressureUnit | number:'1.0-0' }}
                {{ settings.pressureUnit === 'hPa' ? 'гПа' : 'мм рт.ст.' }}
              </span>
                  <span class="pressure-hint" [ngClass]="getPressureHint(weather.list[0].main.pressure).className">
                  {{ getPressureHint(weather.list[0].main.pressure).text }}
              </span>
                </div>
              </div>

              <div class="chart-container">
                <canvas #forecastChart></canvas>
              </div>
            </section>

            <section class="forecast-daily">

              @if (todayForecast) {
                <div
                  class="day-card today"
                  [class.selected]="selectedDayForecast?.date?.toDateString() === todayForecast.date.toDateString()"
                  (click)="selectDay(todayForecast)">

                  <div class="day-name">Сейчас</div> <!-- Жестко заданное имя -->
                  <img [src]="'https://openweathermap.org/img/wn/' + todayForecast.icon + '@2x.png'" [alt]="'Погода на 24 часа'">
                  <div class="day-temp">
                    <span class="temp-max">{{ todayForecast.temp_max | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                    <span class="temp-min">{{ todayForecast.temp_min | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                  </div>
                </div>
              }

              @for (day of weather.list | dailyForecast; track day.date) {
                <div
                  class="day-card"
                  [class.selected]="day.date.toDateString() === selectedDayForecast?.date?.toDateString()"
                  (click)="selectDay(day)">

                  <div class="day-name">{{ day.date | date:'EEEE' }}</div>
                  <img [src]="'https://openweathermap.org/img/wn/' + day.icon + '@2x.png'" [alt]="'Погода на ' + (day.date | date)">
                  <div class="day-temp">
                    <span class="temp-max">{{ day.temp_max | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                    <span class="temp-min">{{ day.temp_min | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                  </div>

                </div>
              }

              <!--
                Extended Forecast
                Extended Forecast NOT Set
              -->
              @if (!isExtendedForecastVisible) {
                <div class="show-more-container">
                  <button class="show-more-btn" (click)="loadExtendedForecast()">
                    Прогноз на 10 дней
                  </button>
                </div>
              }

              <!--
                Extended Forecast IS Set
              -->
              @if (isExtendedForecastVisible) {
                  @if (isExtendedLoading) {
                    <div class="loader-small">Загрузка...</div>
                  } @else {
                    @for (day of extendedForecast; track day.dt) {
                      <div class="day-card reduced-card">
                        <div class="day-name">{{ day.dt * 1000 | date:'EEEE' }}</div>
                        <img [src]="'https://openweathermap.org/img/wn/' + day.weather[0].icon + '@2x.png'" [alt]="day.weather[0].description">
                        <div class="day-temp">
                          <span class="temp-max">{{ day.temp.max | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                          <span class="temp-min">{{ day.temp.min | temperature:settings.tempUnit | number:'1.0-0' }}°</span>
                        </div>
                      </div>
                    }
                  }
              }

            </section>
          </main>
        }

      </div>
    } @else {
      <div class="loading">
        Fetching Weather Data
      </div>
      <ng-container *ngTemplateOutlet="loading"></ng-container>
    }

    <ng-template #loading>
      <div class="loader">
        Загрузка данных о погоде...
      </div>
    </ng-template>


  </div>
    <app-settings-drawer
      [isOpen]="isSettingsOpen"
      [settings]="settings"
      (closeDrawer)="isSettingsOpen = false"
      (settingsChange)="onSettingsChange($event)">
    </app-settings-drawer>

    <app-favorites-drawer
      [isOpen]="isFavoritesOpen"
      (closeDrawer)="isFavoritesOpen = false"
      (citySelected)="selectCity($event)">
    </app-favorites-drawer>
} @else {
  <div class="loading">
    Settings Loading
  </div>
}

<router-outlet></router-outlet>
